<nav id="sidebar" class="container" [ngClass]="rootClassName">
  <span id="dash_link" class="text">{{ text }}</span>
  <span id="sent_link" class="text1">{{ text1 }}</span>
  <span id="recv_link" class="text2">{{ text2 }}</span>
  <span id="forms_link" class="text3">{{ text3 }}</span>
  <span id="msg_link" class="text4">{{ text4 }}</span>
  <span id="partners_link" class="text5">{{ text5 }}</span>
  <span id="tracking_link" class="text6">{{ text6 }}</span>
  <span id="inventory_link" class="text7">{{ text7 }}</span>
  <span id="financial_link" class="text8">{{ text8 }}</span>
</nav>
