.container {
  top: 30%;
  left: 0px;
  right: 0px;
  width: 98%;
  bottom: 0px;
  height: 8%;
  display: flex;
  position: absolute;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: space-between;
}
.icon {
  top: auto;
  fill: #b3b0b0;
  left: auto;
  right: auto;
  width: 20%;
  bottom: auto;
  position: absolute;
  margin-top: 1%;
  margin-bottom: 0px;
}
.dashboard {
  top: 50%;
  left: auto;
  color: #b3b0b0;
  right: auto;
  bottom: auto;
  position: absolute;
  font-size: 120%;
  align-self: center;
  font-style: normal;
  margin-top: auto;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}
@media(max-width: 991px) {
  .icon {
    fill: #b3b0b0;
    width: 4%;
    height: auto;
  }
}
@media(max-width: 767px) {
  .icon {
    fill: #b3b0b0;
    width: 6%;
    height: auto;
  }
}
@media(max-width: 479px) {
  .icon {
    fill: #b3b0b0;
    width: 7%;
    height: auto;
  }
}
